<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Jar Soft</title>
    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
            color: #fff;
            /* Растягиваем body по высоте html */
            min-height: 100%;
            display: grid;
            grid-template-rows: auto 1fr auto;
            background-color: #30363d;

        }

        .box {
            border: 1px solid #28a745;
            border-radius: 5px;
            box-shadow: 1px 1px 1px 1px #30363d
        }
    </style>
    <script>
        let frontendDataBanners = new Map()
        let frontendDataCategories = new Map()
    </script>
</head>
<body>
<div class="container-fluid">
    <br>
    <nav class="box">
        <button class="btn btn-dark btn-outline-success text text-white m-1 active" id="showBannersBtn"
                onclick="setBannersToDoc()" value="true">
            Banners
        </button>
        <button class="btn btn-dark btn-outline-success text text-white m-1" id="showCategoriesBtn"
                onclick="setCategoriesToDoc()" value="false">
            Categories
        </button>
    </nav>
    <br>
    <div class="container-fluid box m-0 p-0" style="float:left; width:30%; height:auto; position: relative ">
        <header class="box">
            <h3 class="text text-white m-1" id="lHeader"></h3>
        </header>
        <section>
            <div class="form-group mt-2">
                <input type="search" class="form-control text text-white"
                       style="background-color: #30363d"
                       id="search">
            </div>
        </section>
        <section style="min-height: calc(75vh - 80px)" id="buttonsL">

        </section>
        <footer role="contentinfo">
            <button class="btn btn-primary w-100" id="createBtn">Create
            </button>
        </footer>
    </div>
    <div class="container-fluid box m-0 p-0" style="float:right; width:67%; height:auto; position: relative ">
        <header class="box">
            <h3 class="text text-white m-1" id="rAction"></h3>
        </header>

        <section>
            <form id="editForm" style="height: auto">

            </form>
        </section>
        <label for="footer" id="hintH">
            <span class="text text-white m-1" id="hint"></span>
        </label>
        <footer role="contentinfo" id="footer">
            <button class="btn btn-primary" style="float: left" id="saveBtn">Save</button>
            <button class="btn btn-danger" style="float: right" id="delBtn">Delete</button>
        </footer>
    </div>
</div>
<script>
    let saveBtn = $('#saveBtn')
    let delBtn = $('#delBtn')
    let createBtn = $('#createBtn')

    let lHeader = $('#lHeader')
    let buttonsL = $('#buttonsL')
    let search = $('#search')

    let rAction = $('#rAction')
    let editForm = $('#editForm')

    let showBanners = $('#showBannersBtn')
    let showCategories = $('#showCategoriesBtn')

    let hint = $('#hint')
    let header = $('#hintH')
</script>
<script src="js/hint.js"></script>
<script src="js/main.js"></script>
<script src="js/categories.js"></script>
<script src="js/banners.js"></script>
<script src="js/validate.js"></script>
<script>


    window.addEventListener("load", function (ev) {
        loadFrontEndData()
    })

</script>
</body>
</html>